@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  src: url("/fonts/nunito/Nunito-VariableFont_wght.ttf");
}

@layer base {
  html {
    font-family: "Nunito", sans-serif;
  }

  body {
    margin: 0;
  }
}
